{
  "env": {
    "browser": true,
    "jest": true,
    "es6": true
  },
  "plugins": ["react", "@typescript-eslint", "react-hooks", "prettier"],
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "ignorePatterns": [
    "src/__mock__",
    "!.storybook"
  ],
  "rules": {
    "semi": [
      "error",
      "never"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "max-len": [
      "error",
      {
        "code": 120,
        "ignorePattern": "^import\\s.+\\sfrom\\s.+$",
        "ignoreStrings": true
      }
    ],
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "array-bracket-spacing": [
      "error",
      "never"
    ],
    "eqeqeq": [
      "error",
      "always"
    ],
    "no-restricted-imports": [
      "error",
      "generated-sources"
    ],
    "comma-style": [
      "error",
      "last"
    ],
    "comma-spacing": [
      "error",
      {
        "before": false,
        "after": true
      }
    ],
    "no-duplicate-imports": [
      "error"
    ],
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "react/boolean-prop-naming": "error",
    "react/prefer-stateless-function": "error",
    "react/jsx-tag-spacing": "error",
    "react/jsx-first-prop-new-line": "error",
    "react/destructuring-assignment": "error",
    "react/react-in-jsx-scope": "off",
    "prettier/prettier": [
      "error",
      {
        "usePrettierrc": true,
        "endOfLine": "auto"
      }
    ],
    "no-console": "warn",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}